<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <div class="font-semibold text-xl tracking-tight">CareerPlug Blog </div>
  </div>
  <% if logged_in? %>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <%= link_to "View Posts", posts_path, class: "block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4" %>
          <div class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"> 
            <%= link_to "Create Post+", new_post_path, class: "btn btn-edit-alt-pink" %> 
          </div>
          <div class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
            Logged in as: <%= current_user.name %>
          </div>
        </div>
      <div>
        <%= link_to "Log Out", logout_path, method: :post, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0" %>
      </div>
    </div>
  <% end %>
</nav>